<app-header></app-header>
<div class="w-full   h-screen lg:bg-center bg-no-repeat lg:bg-cover bg-center" style="background-image: url('../../assets/images/2-people-doing-karate-during-sunset-62376-scaled.webp'); ">
    <div class="w-full h-screen bg-opacity-50 bg-black flex justify-center items-center">
        <div class="mx-4 text-center text-white">
            <h1 class="font-bold text-6xl mb-4 pb-5">About us</h1>
            
           
        </div>
    </div>
</div>


<div class="bg-black opacity-90 md:px-10 ">
    <div class="text-center py-5 ">
        <h1 class="text-yellow-400 md:text-5xl sm:text-3xl  font-black uppercase pt-3">THE ULTIMATE FIGHTING DESTINATION WELCOMES YOU!</h1>
      </div>

       
</div>
<div class="py-6 bg-black opacity-90 ">

</div>


<div class="flex flex-row bg-black opacity-90 lg:px-14">
    <div class="grid lg:grid-cols-2 md:grid-cols-1">
    <div class="flex flex-col lg:mx-5">
        <div class="flex flex-col ">
           <div class="text-center">
               <h1 class="text-white lg:pl-10">The academy was found in 2015 by our honorable founder YUVARAJ MARIYAPPAN , Who has an vast experience in various forms of martial arts for the past 18 years.As of now we have been contributing our services for the growth of martial arts so that everyone can afford it.</h1>
           </div>
           <div class="text-center">
            <h1 class="text-white lg:pl-10 pt-7">With an well equipped gym and personal trainer our academy welcomes you to purse your childhood dreams of learning various combat forms and disciplines. For us apart from self defense, practicing and learning must be done as an life style</h1>
            </div>
        </div>
        
    </div>
    <div class="flex flex-col  pt-10 md:p-0 lg:pt-0">
        <div class="flex flex-col">
           <div class="text-center">
               <h1 class="text-white">As of now this martial arts facility has expanded to offer  5 different martial services, with more than 25 fighting instructors available for helping the students. Currently we offer:</h1>
           </div>
           <div class="pt-7">
            <ul class="text-yellow-400 text-center">
                <li>
                    MUAY THAI
                </li>
                <li>KICK BOXING</li>
                <li>WUSHU</li>
                <li>KUNG FU
                </li>
                <li>Mixed Martial Arts (MMA)</li>
            </ul>
            </div>
        </div>
        
    </div>
</div>
</div>

<div class="py-11 bg-black opacity-90 ">

</div>



<div class="bg-black opacity-90">

    <div class="text-center py-5 ">
        <h1 class="text-yellow-400 md:text-4xl sm:text-3xl  font-black uppercase pt-3">SOME OF OUR ACHIVEMENTS</h1>
      </div>
<div class="flex flex-row justify-items-center justify-center gap-8 pt-14">

    <div class="grid sm:grid-cols-1 lg:grid-cols-4 gap-8">
        <div class="flex flex-col gap-4">
            <div>
                <h1 class="text-yellow-400 text-center text-8xl font-extrabold">10</h1>
                <h1 class="text-white text-center font-extrabold uppercase  pt-5">Classes</h1>
            </div>
        </div>
        <div class="flex flex-col gap-4">
            <div>
                <h1 class="text-yellow-400  text-center text-8xl font-extrabold">7</h1>
                <h1 class="text-white text-center font-extrabold uppercase pt-5">Experienced Instructors</h1>
            </div>
        </div>
        <div class="flex flex-col gap-4">
            <div>
                <h1 class="text-yellow-400  text-center text-8xl font-extrabold">100+</h1>
                <h1 class="text-white text-center font-extrabold uppercase pt-5">Awards</h1>
            </div>
        </div>
        <div class="flex flex-col gap-4">
            <div>
                <h1 class="text-yellow-400 text-center text-8xl font-extrabold">90</h1>
                <h1 class="text-white text-center font-extrabold uppercase pt-5">students</h1>
            </div>
        </div>
        

    </div>
</div>
</div>


<div class="py-10 bg-black opacity-90 ">

</div>

<div class="bg-black opacity-90">
    <div class="text-center py-5 ">
        <h1 class="text-yellow-400 md:text-4xl sm:text-3xl  font-black uppercase pt-3">OUR TESTIMONIALS ALWAYS HAVE SOMETHING NICE TO SAY ABOUT US</h1>
      </div>
      <div class="py-5 bg-black opacity-90 ">

    </div>
      <div class="lg:px-32">
        
        <h1 class="text-white text-xl text-center lg:px-12">"My both sons has flourished so much since joining to Von Lee Martial . Their confidence level, respect of others, and physical capabilities have improved significantly They look forward to attending class and I feel my children are in a safe, where they can only continue to grow mentally, physically, and emotionally. Thank you for offering such an integral part of the development of children in our community. "</h1>
        <div class="flex flex-row justify-center px-12">
           <div class="pt-5 pr-2"> <img src="../../assets/images/testi/WhatsApp-Image-2019-10-20-at-4.18.51-PM.webp" class="rounded-full h-16 w-16  flex items-center justify-center  " alt=""></div>
           <div style="align-self: center;"><h1 class="text-yellow-400 text-center ">OMKAR</h1></div>
        </div>
    </div>
    <div class="py-5 bg-black opacity-90 ">

    </div>

    <div class="lg:px-32">
        
        <h1 class="text-white text-xl text-center lg:px-12">"Vonlee martial arts academy has been a revelation in the training of my children who were training with another institute and on moving to Von lee their interest , performance , motivation , confidence and overall fitness levels have grown by leaps and bounds due to the rigorous and dedicated training imparted by Mr. Yuvaraj and team. My sincere adulation and best wishes to Von lee team to continue their good work"</h1>
        <div class="flex flex-row justify-center px-12">
           <div class="pt-5 pr-2"> <img src="../../assets/images/testi/WhatsApp-Image-2019-10-20-at-3.56.51-PM.webp" class="rounded-full h-16 w-16  flex items-center justify-center  " alt=""></div>
           <div style="align-self: center;"><h1 class="text-yellow-400 text-center ">Adithya</h1></div>
        </div>
    </div>
      


</div>

<div class="py-10 bg-black opacity-90 ">

</div>

<app-footer></app-footer>