<app-header></app-header>


<div class="bg-black opacity-90">
    <div class="text-center py-5">
        <h1 class="text-yellow-400 md:text-4xl sm:text-3xl font-bold uppercase pt-3">GET IN TOUCH WITH US</h1>
      </div>
      <div class="bg-black opacity-90 p-7"></div>
   <div class="grid grid-flow-row">

    <div class="text-center overflow-hidden"><iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d248680.5134054313!2d80.159008!3d13.122419!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x52d02f23377bc722!2sVonlee%20martial%20arts%20academy!5e0!3m2!1sen!2sus!4v1614961187309!5m2!1sen!2sus"  style="border:0;" height="600" width="800" class=" mx-auto hidden  overflow-hidden " allowfullscreen="" loading="lazy" class="mx-auto"> </iframe></div>
   </div> 




   <div class="bg-black opacity-90 p-10"></div>

   <div class="flex flex-col overflow-hidden">
       <div class="grid lg:grid-cols-2 sm:grid-cols-1">
    <div class="felex flex-col">
        <div class="text-center py-5">
            <h1 class="text-yellow-400 md:text-4xl sm:text-3xl font-bold uppercase pt-3">GET IN TOUCH WITH US</h1>
          </div>
        <form class="w-full max-w-lg m-auto">
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-white text-lg font-bold mb-2" for="grid-password">
                  Nickname
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="nick" type="text">
               
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-white text-lg font-bold mb-2" for="grid-password">
                  E-mail
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="email" type="email">
                
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-white text-lg font-bold mb-2" for="grid-password">
                  Message
                </label>
                <textarea class=" no-resize appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none" id="message"></textarea>
                
              </div>
            </div>
            <div class="md:flex md:items-center">
              <div class="md:w-1/3">
                <button class="shadow bg-yellow-400 hover:bg-yellow-600 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
                  Send
                </button>
              </div>
              <div class="md:w-2/3"></div>
            </div>
          </form>
       </div>
       <div class="flex flex-col">
        <div class="text-center py-5">
            <h1 class="text-yellow-400 md:text-4xl sm:text-3xl font-bold uppercase pt-3">CONTACT INFO</h1>
          </div>
    
        <div class="text-center">
            <h1  class="text-white font-extrabold text-2xl p-3">Address</h1>
            <h1   class="text-white font-mono text-xl">No 6, Sunderasa Iyer St, Venkatapuram, Vijayalakshmi Puram Ambattur, Chennai, Tamil Nadu 600053</h1>
        </div>
        <div class="text-center">
            <h1 class="text-white font-extrabold text-2xl p-3">E-Mail </h1>
            <h1  class="text-white font-mono text-xl">vonleemartialartschennai@gmail.com </h1>
        </div>
        <div class="text-center">
            <h1 class="text-white font-extrabold text-2xl p-3">Call Us</h1>
            <h1  class="text-white font-mono text-xl">+91-9092880652</h1>
        </div>
        
       </div>
   </div>
   </div>
  


</div>

<div class="bg-black opacity-90 p-10"></div>

<app-footer></app-footer>



