<app-header></app-header>
<div class="py-10 bg-black opacity-90 ">

</div>
<div class="bg-black opacity-90 ">
    <div class="text-center py-5">
      <h1 class="text-yellow-400 md:text-4xl sm:text-3xl font-bold uppercase pt-3">SOME OF our photos</h1>
    </div>
    
    <div class="grid sm:grid-cols-1  md:grid-cols-4 mx-4 gap-8 " >
      <div class="text-center justify-items-center py-3">
        <img style="height: 500px;object-fit: cover; width: max-content;" class="mx-auto rounded-xl" src="../../assets/images/photos/IMG_1005-scaled-olz42sr6pz621cx3tuzcw62u0ceunu35j86564ppnc.jpg">
         </div >
      <div class="text-center py-3">
       <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto  rounded-xl" src="../../assets/images/photos/IMG_1168-scaled-olz438qfy5rxiq9w8jw0kk1o3w83aoul9f9ebu20pk.jpg">
        </div>
     <div class="text-center py-3">
       <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto  rounded-xl" src="../../assets/images/photos/IMG_1922-scaled-olzbhvmb3ua76kd1kignw0o6ikxp7r2u72rnzpokg8.jpg">
      </div> 
     <div class="text-center py-3">
       <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto  rounded-xl" src="../../assets/images/photos/IMG_2821-scaled-olzbirktk7hy5b2mdw9z8slupok6hglpngy6b4d6ko.jpg">
       
     </div>
     <div class="text-center py-3">
        <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto  rounded-xl" src="../../assets/images/photos/IMG_1920-scaled-olzbi6wddupn1vwnqnc6pxtpn7e3s4bm8mlhr17udk.jpg">
        
      </div>
      <div class="text-center py-3">
        <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto  rounded-xl" src="../../assets/images/photos/IMG_1932-scaled-olzbhm7x7hxbygqp3eee731kkq812s1its8t6y2i6g.jpg">
        
      </div>
      <div class="text-center py-3">
        <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto  rounded-xl" src="../../assets/images/photos/IMG_1971-scaled-olzbhbvp4bj6er5prrxhxnni1hmzq3wh4d2gwwhu2w.jpg">
        
      </div>
      <div class="text-center py-3">
        <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto  rounded-xl" src="../../assets/images/photos/IMG_2082-scaled-olzbgu0riguqa5vno27l4a5qr630nuxkpwo8sn8bd4.jpg">
        
      </div>
      <div class="text-center py-3">
        <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto  rounded-xl" src="../../assets/images/photos/IMG_2463-scaled-olzbglk7syj5do7y1gjxzualep8pqkzzoqsvh5kux4.jpg">
        
      </div>
      <div class="text-center py-3">
        <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto  rounded-xl" src="../../assets/images/photos/WhatsApp-Image-2019-10-20-at-7.52.40-PM-2-1-olz423djlg7bbvxyy20fiuhdyxvxw0aefqk17nrcbc.jpeg">
        
      </div>
      <div class="text-center py-3">
        <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto  rounded-xl" src="../../assets/images/photos/IMG_2504-scaled-olzbg8eh5a14v4r26av60xm53b1kqtjqyxo2ra4dc8.jpg">
        
      </div>
      <div class="text-center py-3">
        <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto  rounded-xl" src="../../assets/images/photos/IMG_2780-scaled-olzbj5oeeq18zgi53kdds71rmgmoox5opeqgi9s9zc.jpg">
        
      </div>
    </div>
</div>  

<div class="py-10 bg-black opacity-90 ">

</div>
<app-footer></app-footer>