<app-header></app-header>
<!-- This is an example component -->
<div class="w-full   h-screen lg:bg-center bg-no-repeat lg:bg-cover bg-left-top" style="background-image: url('../assets/images/front-pose.webp'); ">
    <div class="w-full h-screen bg-opacity-50 bg-black flex justify-center items-center">
        <div class="mx-4 text-center text-white">
            <h1 class="font-bold text-6xl mb-4 pb-5">Von Lee</h1>
            
            <div class="mt-5">
                <a href="/contact" class="bg-yellow-700 rounded-md font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-yellow-600 mr-2">
                    Contact US
                </a>
                
            </div>
        </div>
    </div>
</div>



<div class="bg-black opacity-90">
  <div class="text-center py-5">
    <h1 class="text-yellow-400 md:text-4xl sm:text-3xl font-bold uppercase pt-3">SOME OF THE CLASSES WE OFFER</h1>
  </div>
</div>
  <div class="bg-black opacity-90 p-5"></div>

<div class="bg-black opacity-90">
 <div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 mx-4 " >
   <div class="text-center justify-items-center py-3">
     <img style="height: 500px;object-fit: cover; width: max-content;" class="mx-auto " src="../../assets/images/classes-img/boxing.webp">
     <h1 class="text-yellow-400 text-2xl font-bold uppercase pt-3"> Kick Boxing</h1>
   </div >
   <div class="text-center py-3">
    <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto" src="../../assets/images/classes-img/Bruce-Lee.webp">
    <h1 class="text-yellow-400 text-2xl font-bold uppercase pt-3"> JEET KUNE DO</h1>
  </div>
  <div class="text-center py-3">
    <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto" src="../../assets/images/classes-img/str2_mh_yearend_wushu1_mh_1.webp">
    <h1 class="text-yellow-400 text-2xl font-bold uppercase pt-3"> WUSHU</h1>
  </div>
  <div class="text-center py-3">
    <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto" src="../../assets/images/classes-img/conor-mcgregor-of-ireland-stands-in-his-corner-prior-to-news-photo-1569518011-1.webp">
    <h1 class="text-yellow-400 text-2xl font-bold uppercase pt-3"> MIXED MARTIAL ARTS</h1>
  </div>
 </div>
 <div class="mt-5 justify-items-center text-center pb-10" style="width: 100%;" >
  <a href="/classes" class="bg-yellow-500 rounded-md font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-yellow-600 mr-2">
      View All Classes
  </a>
</div>


<div class="py-10 bg-black opacity-90 ">

</div>

<div class="bg-black opacity-90 pt-10">
  <div class=" lg:mx-20 " style="background-color: #fec303;">
    <h1 class="text-black text-opacity-90 text-5xl font-bold uppercase text-center pt-7 pb-3 font-sans"> MEET THE TEAM</h1>
    <h1 class="text-black text-opacity-90 text-4xl font-light  text-center pb-7 font-sans"> Where Everyone is a Fighter!</h1>
    <div class="pt-10">
      <img src="../../assets/images/master-yuvaraj-238x300.webp" alt="" class="mx-auto rounded-2xl ">
    </div>
    <h1 class="text-black text-opacity-90 lg:text-3xl sm:text-xl font-bold uppercase text-center pt-7  font-sans"> M.YUVARAJ MARIMUTHU</h1>
    <h1 class="text-black text-opacity-90 lg:text-3xl sm:text-xl font-bold uppercase text-center pt-3 pb-7 font-sans"> HEAD INSTRUCTOR/NATIONAL COACH</h1>

  </div>

</div>
<div class="py-10 bg-black opacity-90 ">

</div>

<div class="bg-black opacity-90 ">
  <div class="text-center py-5">
    <h1 class="text-yellow-400 md:text-4xl sm:text-3xl font-bold uppercase pt-3">SOME OF our photos</h1>
  </div>

  <div class="grid sm:grid-cols-1  md:grid-cols-4 mx-4 gap-4 " >
    <div class="text-center justify-items-center py-3">
      <img style="height: 500px;object-fit: cover; width: max-content;" class="mx-auto rounded-xl" src="../../assets/images/photos/IMG_1005-scaled-olz42sr6pz621cx3tuzcw62u0ceunu35j86564ppnc.jpg">
       </div >
    <div class="text-center py-3">
     <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto  rounded-xl" src="../../assets/images/photos/IMG_1168-scaled-olz438qfy5rxiq9w8jw0kk1o3w83aoul9f9ebu20pk.jpg">
      </div>
   <div class="text-center py-3">
     <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto  rounded-xl" src="../../assets/images/photos/IMG_1922-scaled-olzbhvmb3ua76kd1kignw0o6ikxp7r2u72rnzpokg8.jpg">
    </div> 
   <div class="text-center py-3">
     <img style="height: 500px;object-fit: cover;width: max-content;" class="mx-auto  rounded-xl" src="../../assets/images/photos/IMG_2821-scaled-olzbirktk7hy5b2mdw9z8slupok6hglpngy6b4d6ko.jpg">
     
   </div>
  </div>


  

    <div class="mt-5 justify-items-center text-center pb-10" style="width: 100%;" >
      <a href="/gallery" class="bg-yellow-700 rounded-md font-bold text-white text-center px-4 py-3 transition duration-300 ease-in-out hover:bg-yellow-600 mr-2">
          View More
      </a>
      
  </div>
  
  

</div>



<app-footer></app-footer>

  